@model List<CadastroFuncionarioModel>
@{
    ViewData["Title"] = "Funcionários";
    Layout = "_LayoutMain";
}

<main id="main" class="main">

    <section class="section">
        <div class="text-center">
            <div class="pagetitle">
                <h1 class="display-4">Lista de Funcionários</h1>
            </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a aria-current="page" class="btn btn-primary" role="button" asp-controller="CadastroFuncionario" asp-action="CadastroFuncionario">Cadastrar novo funcionário</a>
                            </li>
                            <li class="nav-item">
                                <span class="mx-1"></span>
                            </li>
                            <li class="nav-item">
                                <a aria-current="page" class="btn btn-primary" role="button" asp-controller="Setor" asp-action="CadastrarSetor">Cadastrar novo setor</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Admissão</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Salário</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (CadastroFuncionarioModel funcionario in Model)
                        {
                            <tr>
                                    <th scope="row">@funcionario.Cod_Fun</th>
                                <td>@funcionario.nome</td>
                                <td>@funcionario.email</td>
                                <td>@funcionario.dataAdmissao</td>
                                <td>@funcionario.cargo</td>
                                <td>@funcionario.salarioBruto.ToString("C")</td>
                                <td>@(funcionario.Perfil == ProjetoFolha.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                                <td>@funcionario.Id_ST</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Exemplo básico">
                                            <a role="button" class="btn btn-primary" asp-route-id="@funcionario.Cod_Fun" asp-controller="CadastroFuncionario" asp-action="EditarFuncionario">Editar</a>
                                            <a role="button" class="btn btn-danger" asp-route-id="@funcionario.Cod_Fun" asp-controller="CadastroFuncionario" asp-action="InativarFuncionario">Remover</a>
                                            <a role="button" class="btn btn-info" asp-route-id="@funcionario.Cod_Fun" asp-controller="RecibosDePagamento" asp-action="GeradorDeHolerite">Gerar Holerite</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd"><td valign="top" colspan="5">Nenhum funcionario encontrado</td></tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index"> Voltar</a>
            </div>
        </div>
    </section>
</main>
