@model ProjetoFolha.Models.RecibosDePagamentoModel
@{
    ViewData["Title"] = "Gerador de Holerites";
    Layout = "_LayoutMain";
}
<style>
    .container {
        display: flex;
        justify-content: center;
    }
</style>

<main id="main" class="main">
    <div class="text-center">
        <div class="pagetitle">
            <h1>Gerador de Holerite</h1>
        </div>
        <hr />
         <div class="container">
        <div class="d-flex m-3 flex-wrap">
        <div class="form-group me-5">
        <h4>Nome:</h4>
        <p>@Model.CadastroFuncionarioModel.nome</p>
        </div>

        <div class="form-group me-5">
        <h4>Setor:</h4>
        <p>@Model.CadastroFuncionarioModel.SetorModel.Descricao</p>
        </div>

        <div class="form-group">
        <h4>Cargo:</h4>
        <p>@Model.CadastroFuncionarioModel.cargo</p>
        </div>
        </div>
        </div> 
    </div>

    @Html.ValidationSummary()
    <section class="section">
        <div class="row">
            <div class="texte-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informações da Folha</h5>
                        <form asp-action="GeradorDeHolerite" asp-route-id="@Model.Cod_Fun" method="post">
                            <input asp-for="@Model.Cod_Fun" type="hidden" value="@ViewData["MyNumber"]" />
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Horas Extras</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="HorasExtras" class="form-control">
                                </div>
                            </div>
                            @* <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Desconto INSS</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="DescontoINSS" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Desconto IR</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="DescontoIR" class="form-control">
                                </div>
                            </div>
                            </br> *@

                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Salário Bruto</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="SalarioBruto" class="form-control">
                                </div>
                            </div>
                           @*  <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Total de Descontos</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="TotalDescontos" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Salário Líquido</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="SalarioLiquido" class="form-control">
                                </div>
                            </div> *@

                            <div class="row mb-3">
                                <div class="d-flex justify-content-between">
                                    <a role="button" class="btn btn-secondary" asp-controller="CadastroFuncionario" asp-action="Index"> Voltar</a>
                                    <button type="submit" class="btn btn-success" asp-controller="RecibosDePagamento" asp-action="GeradorDeHolerite">Gerar Holerite</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
