@{
    ViewData["Title"] = "RecibosDePagamento";
    Layout = "_LayoutMain";
}

@model List<RecibosDePagamentoModel>

<main id="main" class="main">

    <section class="section">
        <div class="text-center">
            <div class="pagetitle">
                <h1 class="display-4">Recibos de Pagamento</h1>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="card">
                        @await Component.InvokeAsync("RecibosInfoFun")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Informações da Empresa</h5>
                            <div class="mb-3">
                                <strong class="info-label">Nome:</strong> JNGCV Software LTDA
                            </div>
                            <div class="mb-3">
                                <strong class="info-label">Razão Social:</strong> JNGCV Software LTDA
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                /* Estilos CSS para a formatação da tabela */
                table {
                    width: 100%;
                    border-collapse: collapse;
                }

                th, td {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }
            </style>
            <table class="text-center">
                <!-- Cabeçalho da tabela -->
                <thead>
                    <tr class="">
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=data&amp;sortdir=ASC">#</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=data&amp;sortdir=ASC">#ID FUN</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=data&amp;sortdir=ASC">Data de Emissão</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=nomeCalc&amp;sortdir=ASC">Mês de referência</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=valor&amp;sortdir=ASC">Salário Liquido</a>
                        </th>
                        <th scope="col">
                            <a href="/Holerith/Painel?sort=Visualizar+Documento&amp;sortdir=ASC">Visualizar Holerite</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (RecibosDePagamentoModel folha in Model)
                        {
                            <tr class="webgrid-row-style">
                                <th scope="row">@folha.Id_RP</th>
                                <td class="webgrid-columns"><p>@folha.Cod_Fun</p></td>
                                <td class="webgrid-columns"><p>@folha.DataEmissao</p></td>
                                <td class="webgrid-columns"><p>@folha.MesAnoRef</p></td>
                                <td class="webgrid-columns">@string.Format("R${0:0.00}", folha.SalarioLiquido)</td>
                                <td class="webgrid-columns">
                                    <div class="pagination-centered">
                                        <a role="button" class="btn btn-primary" asp-route-id="@folha.Id_RP" asp-controller="RecibosDePagamento" asp-action="Holerite">Visualizar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd"><td valign="top" colspan="4">Nenhuma folha gerada</td></tr>
                    }
                </tbody>
                <!-- Corpo da tabela -->
            @* @await Component.InvokeAsync("RecibosSessao") *@
            </table>
        </div>
        <p>
            <div class="mb-3">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary"> Voltar</a>
                </div>
            </div>
        </p>
    </section>
</main>
