@model CadastroFuncionarioModel

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        @if (Model.Perfil == ProjetoFolha.Enums.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link " asp-controller="CadastroFuncionario" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Funcionários</span>
                </a>
            </li><!-- End Menu 01 Nav -->
        }

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index","ConsultaBeneficio")">
                <i class="bi bi-menu-button-wide"></i>
                <span>Consulta Benefício</span>
            </a>
        </li><!-- End Menu 02 Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index","RecibosDePagamento")">
                <i class="bi bi-circle"></i>
                <span>Recibos de Pagamento</span>
            </a>
        </li><!-- End Menu 03 Nav -->

        <li class="nav-item">
            <a class="nav-link " asp-controller="Login" asp-action="Sair">
                <!-- alteração!! -->
                <i class="bi bi-box-arrow-left"></i>
                <span>Sair</span>
            </a>
        </li><!-- End Menu 04 Nav -->

        <li class="nav-item">
            <a class="nav-link" >
                <!-- alteração!! -->
                <i class="bi bi-person"></i>
                <span>Olá, @Model.nome</span>
            </a>
        </li><!-- End Menu 05 Nav -->

    </ul>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Meus Dados</h5
            <p class="card-text"> Cargo: @Model.cargo</p>
            <p class="card-text"> Admissão: @Model.dataAdmissao</p>
            <p class="card-text"> CPF: @Model.cpf</p>
        </div>
    </div>

</aside><!-- End Sidebar-->
