@model CadastroFuncionarioModel


<table>
    <tr>
        <td>Horas Extras</td>
        <td>@Model.recibosDePagamento.HorasExtras</td>
    </tr>
    <tr>
        <td>Desconto INSS</td>
        <td>@Model.recibosDePagamento.DescontoINSS</td>
    </tr>
    <tr>
        <td>Desconto IR</td>
        <td>@Model.recibosDePagamento.DescontoIR</td>
    </tr>
    <tr>
        <td>Total de Vencimentos</td>
        <td>@Model.recibosDePagamento.TotalVencimentos</td>
    </tr>
    <tr>
        <td>Total de Descontos</td>
        <td>@Model.recibosDePagamento.DescontoINSS</td>
    </tr>
    <tr>
        <td>Salário Líquido</td>
        <td>@Model.recibosDePagamento.SalarioLiquido</td>
    </tr>
</table>

        



    

